$color-blue:rgb(12, 12, 22);
$color-orange:orange;
$color-purple:rgb(92, 62, 92);
$color-green:green;
$color-lightcoral: lightcoral;
$color-brown:rgb(180, 111, 111);
$color-maroon:maroon;
$color-lightskyblue:lightskyblue;
$color-red:red;