.side-nav {
    height: 600px;
  }
  .notesContainer {
    overflow-y: auto;
    max-height: 340px;
    //padding-bottom: 1px;
  }
  

  
 
  /*  .container {
    width: 100%;
    padding: 1px;
    margin-right: auto;
    margin-left: auto;
} */