@import "colors";

  .md-title-col1 {
    color:$color-blue;
  }
  .md-title-col2 {
    color: $color-brown;
  }
  .md-title-col3 {
    color: $color-orange;
  }
  .md-title-col4 {
    color: $color-purple;
  }
  .md-title-col5 {
    color: $color-green;
  }
  .md-title-col6 {
    color:$color-lightcoral;
  }
  .md-title-col7 {
    color: $color-blue;
  }
  .md-title-col8 {
    color: $color-maroon;
  }
  .md-title-col9 {
    color: $color-lightskyblue;
  }
  .md-title-col10 {
    color: $color-red;
  }
  .md-title-col11 {
    color:$color-green;
  }