.md-progress-bar {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
  }
  
  .jc-center {
    justify-content: center;
  }
  
  .md-primary {
    background-color: blue;
  }
  
  .fundoo-image{
      padding-top: 80px;
  }
  .route-link {
    margin-left: -260px;
  }
 
  *{
    -ms-overflow-style: none;
}
::-webkit-scrollbar {
    display: none;
}