.md-progress-bar {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
  }
  
  .jc-center {
    justify-content: center;
  }
  
  .overflow-x {
    overflow-x: hidden;
  }
  
  .md-primary {
    background-color: blue;
  }
  
  .sign-in {
    padding-right: 600px;
    margin-left: -26px;
    color: blue;
  }
  .fundoo-title {
    padding-left: -200px;
    margin-left: 100px;
  }
 