.md-progress-bar {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
  }
  
  .jc-center {
    justify-content: center;
  }
  
  .overflow-x {
    overflow-x: hidden;
  }
  .overflow-y {
    overflow-x: hidden;
  }
  
  .md-primary {
    background-color: blue;
  }
  
  .scrollbar-hidden:-webkit-scrollbar {
    display: none;
  }
  .fundoo-title {
    padding-left: -300px;
    margin-left: 100px;
  }
  .fundoo-image{
      padding-top: 100px;
  }
  .route-link {
    margin-left: -400px;
  }
 
  *{
    -ms-overflow-style: none;
}
::-webkit-scrollbar {
    display: none;
}